body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
	font-family: '黑體-繁', "Heiti TC", "微軟正黑體", sans-serif;
	font-size: 14px;
	color: #fff;
}
canvas{
	position: absolute;
	cursor: pointer;
}

.logo{
	pointer-events: none;
	position: absolute;
	top: 1.6rem;
	font-size: 1.5rem;
	left: 2rem;
	color: white;
	z-index: 1;
}
.text{
	pointer-events: none;
	position: absolute;
	top: -42vh;
	font-size: 151vmin;
	left: 11vw;
	/* transform: translateX(-50%); */
	color: rgba(255, 255, 255, 0.3);
	z-index: 1;

}